@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #0f172a;
  color: white;
  font-family: Inter, sans-serif;
}
/* Sidebar Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}